@use "../../_globals/mixins.scss";

.expandedCard {
    position: relative;
    width: 1309px;
    height: 886px;
    flex-shrink: 0;
  
    border-radius: 15px;
    background: var(--light-purple);
    box-shadow: 0px 0px 7px 6px rgba(152, 29, 156, 0.10);
  
    display: flex;
    flex-direction: row;
    gap: 65.12px;
  
    padding-left: 60.43px;
    padding-top: 87px;
    padding-bottom: 89.35px;

    @include mixins.phone{
      width: 333px;
      height: auto;

      padding-left: 41px; 
      padding-top: 38px;
      padding-right: 41px;
      flex-direction: column;
      gap: 22px;
      padding-bottom: 37px;
    }
  }


  .closeButton{
    position: absolute;
    top: 37px;
    right:43px;
    background: transparent;
    border: none;
    cursor: pointer;

    width: 49px;
    height: 50px;

    object-fit: contain;

    @include mixins.phone{
      height: 20px;
      width: 20px;

      top: 12px;
      left: 300px;
    }
  }
  
  .imageContainer {
    width: 472.251px;
    height: 709.653px;
    flex-shrink: 0;
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
  
  
    padding-left: 39.96px;
    padding-top: 71px;
    padding-right: 36.74px;
    padding-bottom: 87.65px;
  
    @include mixins.phone{
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 32px;
      padding-bottom: 32px;

      height: 251px;
      width: 251px;
    }
  }
  
  .image {
    width: 395.745px;
    height: 551px;
    flex-shrink: 0;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include mixins.phone{
      width: 197px;
      height: 187px;
    }
  }
  
  
.nameRole{
  @include mixins.phone{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    
    
  }
}

.textContainer{
  
  
  @include mixins.phone{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
  }
}


  

  .mobileHeader{
    
    @include mixins.phone{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      
      
      

    }
  }
  .mobileIcons{
    
    display: none;
    @include mixins.phone{
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      
    }
  }
  
  
  .name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 8px;
    
    

    @include mixins.phone{
      font-size: 1.5rem;
      margin-bottom: auto;
      width: 230px;
      
    }
  }

  .role1 {
    font-size: 2rem;

    @include mixins.phone{
      font-size: 0.875rem;
      height: 21px;
      

    }
    
  }

  .role2 {
    font-size: 2rem;
    @include mixins.phone{
      font-size: 0.875rem;

    }
  }

  .role3 {
    font-size: 2rem;

    @include mixins.phone{
      font-size: 0.875rem;

    }
  }
  
  .longDescription {
    
    width: 565.843px;
    font-size: 1.125rem;
    font-weight: 400;

    @include mixins.phone{
      width: 251px;
      font-size: 0.75rem; 
      
    }
  }

  .socialTitle {
    font-size: 1.5rem;
  }

  .socialContainer {
    display: inline-flex;
    align-items: center;
    gap: 11px;

    
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    gap: 13.25px;

    position: absolute;
    bottom: 161px;
    left:598px;
    right:124px;
    top:613px;

    @include mixins.phone{
      display: none;
      height: 0px;
      width: 0px;
    }
  }

  .socialHandle {
    color: var(--black);
    text-decoration: none;

    &:hover{
      color: #333;
      text-decoration: underline;
    }
  }