@use "app/(pages)/_globals/mixins.scss";

.footer {
  display:flex;
  height: 132px;
  background: var(--white);
  box-shadow: 0px 0px 4px 10px rgba(50, 0, 131, 0.05);
  padding-left:44px;
  padding-right:35px;
  width:100%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.25));
}

.footer_content{
  display: flex;
  gap:30px;

  @include mixins.phone {
    gap: 10px;
  }
}

.footer_text{
  color:var(--dark-purple);
  display: flex;
  align-items: center;

  text-align: right;
}

.icons{
  display: flex;
  gap:9px;

  @include mixins.phone {
    gap: 8px;
  }
}

.icon {
  color:var(--dark-purple);
  height: 39px;
  width:39px;
  position: relative;

  @include mixins.phone {
    height: 23px;
    width: 23px;
  }
}
