@use "./mixins.scss";

:root {
  // primary colors
  --white: #fafafa;
  --Aggie-Space: linear-gradient(
    200deg,
    #04164f 7.1%,
    #3d1069 62.03%,
    #750b83 94.99%
  );

  // secondary colors
  --gold: #e4a135;
  --light-purple: #cfbae8;
  --dark-purple: #161457;

  // accent
  --black: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: var(--font1);
  color: var(--black);
}

// Heading
h1 {
  @include mixins.fontStyle(4rem, 700, auto, var(--font1));
}

// Heading 2
h2 {
  @include mixins.fontStyle(2rem, 700, auto, var(--font1));
}

// Body
p {
  @include mixins.fontStyle(1rem, 400, auto, var(--font1));
}
