.main{
  display: flex;
  flex-direction: column;
}

.product{
  // border: black solid 1px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 56px;
  padding-left: 25px;
}

.productimage {
  border-radius: 10px;
  border: 2px solid var(--gold);
  object-fit: cover;
}

.productinfo{
  // border: black solid 1px;
  width: 646px;
  height: 162px;
}

.title{
  color: var(--dark-purple);
  font-size: 32px;
}

.cost{
  color: var(--gold);
  font-family: Poppins, normal;
  padding-bottom: 41px;
}

.details{
  font-family: Poppins, normal;
}

.moreitems{
  // border: black solid 1px;
  display: flex;
  flex-direction: column;
}

.similaritems{
  // border: black solid 1px;
  color: var(--gold);
  font-size: 32px;
  align-items: left;
  padding-left: 25px;
}

.images{
  // border: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

}

.extra{
  display: flex;
  flex-direction: column;
}

.productdetail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.productcost{
  color: var(--gold);
  font-family: Poppins, normal;
  font-weight: 700;
}


.buy{
  border: black solid 1px;
  width: 162px;
  height: 36px;
}