
@use "../_globals/mixins.scss";


.pagewrapper{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 43px;
    padding-bottom: 103px;

    @include mixins.phone{
        
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
        
        
    }
    
}
.alumniPage{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    width: 100%;
    

    @include mixins.phone{
        align-items: center;
        gap: 100px;
    }
    
    
}


.title{
    color: var(--gold);
    font-size: 4rem;

    @include mixins.phone{
        font-size: 1.5rem;
        width: 210px;
        height: 36px;
        
    }
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.headerText{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 647px;

    @include mixins.phone{
        width: 100%;
        gap: 20px;
    }
}

.jackieStickerContainer {
    max-width: 369px;
    height: 207px;
    flex: 1;
    position: relative;

    @include mixins.tablet {
        display: none;
    }
}

.jackieSticker{
    object-fit: contain;

    @include mixins.phone{
        display: none;
    }
}

.searchbar{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 24px;
    gap: 27.66px;

    width: 100%;
    height: 57px; 
    background: var(--white);
    border: 2px solid var(--black);
    border-radius: 150px;

    @include mixins.phone{
        width: 100%;
        gap: 10px;
        padding-left: 20px;
    }
}

.mag{
    @include mixins.phone{
    }
}

.searchInput{
    flex: 1;
    font-family: var(--font1);
    color: var(--black);
    background: var(--black);
    border: none;
    background: transparent;
    outline: none;
    font-weight: 400;
    font-size: 1rem;

    @include mixins.phone{
        width: 300px;
        font-size: 0.875rem;
    }
    
}
.searchInput::placeholder{
    color: var(--black);
    opacity: 1;
    font-weight: 400;
}

.cardsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
    width: 1312px;

    @media (max-width: 1320px){
        width: 646px;
    }

    @include mixins.phone{
        justify-content: center;
        width: 100%;
    }

}

