@use "app/(pages)/_globals/mixins.scss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 949px;
  background: var(--Aggie-Space);

  @include mixins.phone {
    height: 681px;
  }
}

.heroContent {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 85%;
  height: 610px;
  gap: 15%;
  background: url("/Home/img/Ellipse.png") no-repeat center center / contain;

  @include mixins.phone {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: none;
  }
}

.titleHeader {
  margin-bottom: 10px;
  color: var(--white);
  font-size: 30px;

  @include mixins.phone {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

.titleName {
  color: var(--white);

  @include mixins.phone {
    font-size: 2rem;
  }
}

.titleDescription {
  margin-top: 30px;
  max-width: 448px;
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 700;

  @include mixins.phone {
    font-size: 1rem;
  }
}

.joinNow {
  margin-top: 50px;
  width: 249px;
  height: 71px;
  color: var(--black);
  font-size: 30px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  background: var(--light-purple);

  @include mixins.phone {
    margin-top: 40px;
    width: 134px;
    height: 44px;
    font-size: 1rem;
  }
}

.logo {
  position: relative;
  display: flex;
  align-self: flex-end;
  width: 518px;
  height: 501px;

  @include mixins.phone {
    align-self: auto;
    width: 100%;
    height: 250px;

    background: url("/Home/img/Ellipse.png") no-repeat center center / contain;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 100px 0 80px;
  gap: 30px;

  h1 {
    color: var(--gold);
  }

  @include mixins.phone {
    padding: 30px;
    gap: 12px;
  }
}