.main {
  display: flex;
  flex-direction: column;
}

/* Top Navigation */
.top {
  padding-left: 25px;
  padding-bottom: 10px;
  display: flex;
  gap: 6px;
}

.backbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 52px;
  border: 2px solid var(--gold);
  border-radius: 50px;
  background-color: transparent;
  font-family: Poppins, normal;
  font-size: 1.5rem;
  text-decoration: none;
}

.merch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 52px;
  border: 2px solid var(--gold);
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.25rem;
}

/* Product Section */
.product {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 25px;
  padding-bottom: 56px;
}

.productimage {
  border: 2px solid var(--gold);
  border-radius: 10px;
  object-fit: cover;
}

.productinfo {
  width: 646px;
  height: 162px;
}

.title {
  font-size: 32px;
  color: var(--dark-purple);
}

.cost {
  color: var(--gold);
  font-family: Poppins, normal;
  padding-bottom: 41px;
}

.details {
  font-family: Poppins, normal;
}

/* More Items Section */
.moreitems {
  display: flex;
  flex-direction: column;
}

.similaritems {
  font-size: 32px;
  color: var(--gold);
  padding-left: 25px;
  align-items: left;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.extra {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.productdetail {
  padding-top: 15px;
}

.productname {
  color: black;
}

.productcost {
  color: var(--gold);
  font-family: Poppins, normal;
  font-weight: 700;
  text-decoration: none;
}
