.page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 37px 100px;
}
.TopButtons{
  display:flex;
}
.button{
  border-radius:25px;
  border:solid;
  border-width: 2px;
  border-color: var(--gold);
  font-size:24px;
  background: var(--white);
  padding: 10px 20px;
  display: inline-block;
}
.image{
  flex-shrink: 0;
  border-radius: 10px;
  width: 1312px;
  height:400px;
  position:relative;
  overflow: hidden;
}
.header{
  color:var(--gold);
  font-size:64px;
}
.subheader{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:3px;
  font-size: 16px;
  width:100%;
}
.lineseparator{
  border:solid;
  width:286px;
  height:1px;
  border-color: var(--black);
}
.blogcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content{
  border-width: 1312px;
  font-size: 16px;
  margin:27px 100px;
  align-items: center;
  justify-content: center;
}
.category{
  display: flex;
  gap:8px;
  justify-content: flex-start;
  width: 100%;
}
.AboutAuthor{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  width:100%;
}
.AboutAuthor h2{
  color:var(--dark-purple);
  font-size:32px
}
.AuthorContent{
  display: flex;
  margin-top: 27px;
  gap:72px
}
.author_image{
  width:372px;
  height:372px;
  position: relative;
  overflow: hidden;
  border-radius:10px;
}
.AuthorInfor{
  display: flex;
  flex-direction: column;
}
.EndButtons{
  display:flex;
  margin-top: 37px;
  justify-content: flex-end;
  width: 100%;
}
