.aboutUs {
    width: 1312;
    height: 686;
    top: 156px;
    left: 100px;
}

h1 {
    width: 1312;
    height: 686;
    top: 156px;
    left: 100px;    
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;    
}

p {
    width: 866;
    height: 576;
    top: 266px;
    left: 100px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;    
}

img {
    width: 431;
    height: 458;
    top: 266px;
    left: 981px;    
}

.mascot {
    width: 1262;
    height: 731;
    top: 914px;
    left: 101px;    
}

h1 {
    width: 387;
    height: 96;
    top: 914px;
    left: 101px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;        
}

p {
    width: 868;
    height: 612;
    top: 1033px;
    left: 101px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;        
}

img {
    width: 352;
    height: 363;
    top: 1129px;
    left: 1011px;    
}

.values {
    width: 1312;
    height: 1164.359375;
    top: 1754px;
    left: 101px;    
}

h1 {
    width: 421;
    height: 118;
    top: 1754px;
    left: 546px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;        
}

p {
    width: 868;
    height: 144;
    top: 1946px;
    left: 544px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;        
}