.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  
}

.heading {    
  color: var(--gold);  
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;

}

.item {
  width: 100%;
  max-width: 1312px;
  border: 2px solid var(--gold);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 44px 108px;
}

.mainColumns {
  display: flex;
  gap: 115px;
}

.dateBlock {
  display: flex;
  flex-direction: column;
  align-items: center;         
}

.month {
  font-size: 2rem;               
  font-weight: 600;
}

.day {
  font-size: 4rem;              
  font-weight: 700;
}

.details {
  flex: 2;
  text-align: left;

  .typeRow {
    display: inline-flex;
    align-items: center;
    gap: 8px;                        
  }

  .dot {
    width: 23px;
    height: 23px;
  }

  .title {
    font-size: 2rem;
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 4px;                   
  }

  .metaItem {
    display: inline-flex;
    align-items: center;
    gap: 11px;                   
  }
}

.notes {
  width: 330px;
  font-size: 0.875rem;
}

.button {
  margin-top: 32px;            
  padding: 8px 32px;            
  border: 1px solid var(--gold);
  border-radius: 999px;
  background: transparent;
  font-size: 0.875rem;           
  cursor: pointer;
}
